<%- include('../partials/head'); %>

  <h1><%= post.title %></h1>
  <h2>Created <%= post.created %></h2>
  <h3>Last Edited <%= post.lastEdited %></h3>
  <p><%- post.body %></p>

<%- include('../partials/foot'); %>